body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 52, 157);
    width: 350px;
    height: 350px;
    border-radius: 10%;
    padding: 25px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
}

div, button {
    margin: 10px 20px;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quadrado {
    width: 80px;
    height: 80px;
    background-color: rgb(33, 104, 247);
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    font-size: 2em;
}

@keyframes hoverAnimation {
    0% {
      transform: /*translate(0, 0)*/scale(1);
    }
    100% {
      transform: /*translate(5px, 5px)*/scale(1.09);
    }
  }

.quadrado:hover {
    animation: hoverAnimation 0.3s ease forwards;
}

div button {
    font-weight: bold;
    font-size: larger;
}

#jogador {
    padding: 10px;
    font-size: medium;
    width: 275px;
    margin: 5px 0 10px 0;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(181, 181, 255);
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#comecar {
    padding: 10px;
    font-size: medium;
    width: 275px;
    margin: 10px 0 20px 0;
    background-color: rgb(0, 182, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#jogador:hover, #comecar:hover {
    transform: translate(5px, 5px);
}

/*#jogador::placeholder {}*/